/* 
    Project wide definitions
    and utilities classes
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.u-margin-top-small { margin-top: 5px !important }
.u-margin-top-medium { margin-top: 8px !important }
.u-margin-top-large { margin-top: 12px !important }
.u-margin-top-extra-large { margin-top: 20px !important }

.u-margin-bottom-small { margin-bottom: 5px !important }
.u-margin-bottom-medium { margin-bottom: 8px !important }
.u-margin-bottom-large { margin-bottom: 12px !important }
.u-margin-bottom-extra-large { margin-bottom: 20px !important }

.u-align-center {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
}

.text-white {
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}

.primary-heading {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 10px;
}

.secondary-heading {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tertiary-heading {
    font-size: 23px;
    text-transform: uppercase;

}

.paragraph {
    font-weight: 400;
    font-size: 15px;
}

.paragraph-small {
    font-size: 13px;
    line-height: 1.2;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.primary-button {
    padding: 10px 30px;
    box-shadow: 0 0px 10px rgba(0,0,0,.3);
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.button-secondary {
    padding: 7px 12px;
    border-radius: 20px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: white;
    transition: .5s all;
}

.button-secondary a {
    transition: .5s all;
    font-size: 12px;
    font-weight: 800;
    color: #000;
    font-family: 'Montserrat';
}

.button-secondary:hover {
    background-color: #000;
    box-shadow: 0 6px 10px rgba(0,0,0,0.26);
}

.button-secondary:hover a {
    color: #fff;
}

.show-after-600 { display: none !important }
.hide-after-900 { display: block !important }

@media screen and (max-width:600px) {
    .show-after-600 { display: block !important }
}

@media screen and (max-width:900px) {
    .hide-after-900 { display: none !important }
}





/* Navigation */
.nav {
    padding: 10px;
    position: absolute;
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: center;
}

.nav .nav-items {
    right: 0;
    position: absolute;
    list-style-type: none;
}

.nav .nav-items .nav-item {
    display: inline-block;
    margin: 0 15px;
    font-weight: 500;
}

.nav .nav-items .nav-item a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.nav .nav-logo {
    width: 100%;
}

.nav .nav-logo img {
    width: 80%;
    position: relative;
}

.nav .nav-burger {
    display: none
}

.nav .nav-burger i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 30px;
    color: white;
}

/* Header */
.header {
    background-image: url("../images/background-1.png");
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.header .header-content {
    padding: 10px;
    transform: translateY(-10px);
}

.header .header-profile-image {
    margin: 0 auto;
    display: block;
    width: 20%;
    position: relative;
}

.header .header-content .paragraph {
    width: 85%;
    margin: 0 auto;
}

/* Sidebar */
.sidebar {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.sidebar .sidebar-content-box .sidebar-close {
    position: absolute;
    top: 25px;
    right: 30px;
}

.sidebar .sidebar-content-box .sidebar-close i {
    color: black;
    font-size: 30px;
}

.sidebar-content-box {
    z-index: 100;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    transition: .5s ease all;
    animation: nav-content-box .5s ease backwards;
}

.sidebar .sidebar-back-box {
    z-index: 90;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: .5s cubic-bezier(.24,.82,.56,.93) all;
    animation: nav-back-box .5s cubic-bezier(.24,.82,.56,.93);
}

@keyframes nav-content-box {
    from {
        transform: translateX(-100%);    
    } to {
        transform: translateX(0%);
    }
}

@keyframes nav-back-box {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0%);
    }
}

.sidebar .sidebar-content-box .sidebar-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    list-style: none;
    width: 80%;
}

.sidebar .sidebar-content-box .sidebar-items .sidebar-item a {
    display: block;
    letter-spacing: 2px;
    color: black;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.introduction {
    width: 100%;
    padding: 55px 10px;
}

.introduction .introduction-heading h3.secondary-heading,
.introduction .introduction-heading img{
    display: inline-block;
}

.introduction .introduction-heading img {
    width: 5.5%;
    top: 10px;
    margin-right: 10px;
    position: relative;
}

.social-banner {
    background-image: url("../images/background-1.png");
    padding: 55px 10px;
    background-attachment: fixed;
    background-position: center;
}

.social-banner .social-links-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.social-banner .social-links-wrapper .social-link {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.social-banner .social-links-wrapper .social-link i {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
}

.projects {
    padding: 45px 10px;
}

.projects-content-container {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.projects-carousel {
    padding: 15px 0;
}

.projects-main-content {
    box-shadow: 0 3px 10px rgba(0,0,0,.14);
    width: 93%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.projects-content-heading {
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.projects-heading-right .projects-index {
    text-align: right;
    font-size: 15px;
    font-weight: 800;
    word-spacing: 3px;
    line-height: 1;
}

.projects-heading-right button.button-secondary {
    float: right;
}

.projects-heading-right button.button-secondary::after {
    content: "";
    display: table;
    clear: both;
}

.projects-image-container {
    width: 100%;
    margin-top: 15px;
}

.projects-image {
    width: 70%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.projects-left-controller,
.projects-right-controller {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.16);
    background-color: white;
    cursor: pointer;
}

.projects-left-controller > i,
.projects-right-controller > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.projects-left-controller {
    left: 0;
}

.projects-right-controller {
    right: 0;
}

.projects-controller,
.blogs-controller {
    display: grid;
    justify-content: center;
}

.projects-indicator-container,
.blogs-indicator-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    width: 150px;
}

.projects-indicator-container .projects-indicator,
.projects-blogs-indicator, .blogs-indicator {
    display: inline-block;
    border-radius: 100%;
    margin: 0 10px;
    width: 14px;
    height: 14px;
    border: 2px solid #000;
}

.blogs {
    padding: 10px 10px 55px 10px;
}

.blogs .blogs-content-container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 10px;
    align-items: center;
}

.blogs-content-container .blogs-content-left {
    padding-top: 10px;
}

.blogs-panels {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.14);
    overflow: hidden;
    width: 80%;
    position: relative;
    border-radius: 5px;
}

.blogs-panels:not(:last-child) {
    margin-bottom: 20px;
}

.blogs-panels .blog-image {
    position: relative;
    width: 100%;
}

.blogs-panels .blog-image img {
    width: 100%;
    position: relative;
    display: block;
}

.blogs-panels .left-blogs-desc {
    padding: 8px 11px;
    font-size: 16px;
    line-height: 1.2;
    top: 0 !important;
}

.blogs-content-right .blogs-list {
    list-style-type: none;
}

.blogs-content-right .blogs-list .blogs-list-item {
    position: relative;
    padding: 20px;
}

.blogs-content-right .blogs-list .blogs-list-item:not(:last-child) {
    border-bottom: 1.7px solid rgba(0,0,0,0.2);
}

.blogs-content-right .blogs-list .blogs-list-item a {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    padding-left: 60px;
    position: relative;
    display: inline-block;
}

.blogs-content-right .blogs-list .blogs-list-item span {
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}

/* For smaller screen blogs */
.blogs-carousel-container,
.blogs-controller {
    display: none;
}

.big-project {
    padding: 50px 10px;
    background-color: rgba(0,0,0,0.03);
}

.big-project .big-project-title,
.big-project .big-project-subtitle {
    text-transform: uppercase;
    line-height: 1;
}

.big-project .big-project-subtitle {
    font-size: 35px;
    font-weight: 600;
}

.big-project .big-project-title {
    position: relative;
    left: -2px;
    font-size: 65px;
    font-weight: 800;
}

.big-project .bp-container {
    padding-top: 55px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 50px;
    align-items: center;
}

.bp-container .bp-content-container .bp-small-subtitle {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 600;
}

.bp-container .bp-image-container img {
    width: 100%;
    position: relative;
    display: block;
}

.big-project .bp-container .bp-content-container img {
    display: none;
}

.contact {
    padding: 35px 10px 42px 10px;
}

.contact .contact-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0,0,0,.14);
}

.contact .contact-container .contact-heading {
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.contact .contact-container .contact-container-left {
    background-image: url("../images/background-1.png");
    background-size: cover;
    padding: 25px;
}

.contact-container-left .contact-ul {
    list-style-type: none;
    margin-bottom: 30px;
}

.contact-container .contact-ul .contact-li > * {
    display: inline-block;
    color: #fff;
}

.contact-container .contact-ul .contact-li i {
    margin-right: 10px;
    position: relative;
    top: 2px;    
}

.social-link-items .social-link-item {
    display: inline-block;
    margin-right: 20px;
}

.social-link-items .social-link-item a i {
    color: white;
    font-size: 20px;
}

.contact .contact-container .contact-container-right {
    padding: 25px;
}

.form .form-group-halves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 15px;
}

.form .form-group-full {
    width: 100%;
    position: relative;
}

.form .form-group-halves .form-input,
.form .form-group-full .form-textarea {
    padding: 13px 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.form .form-group-halves .form-input::placeholder,
.form .form-group-full .form-textarea::placeholder {
    color: gray;
}

.form .form-group-full .form-textarea {
    min-height: 80px;
    max-height: 120px;
    max-width: 100%;
    position: relative;
}

.info-banner {
    display: none;
}

.footer {
    background-image: url("../images/background-1.png");
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    padding: 30px 10px 10px 10px;
    width: 100%;
}

.footer .footer-img-container {
    width: 100%;
}

.footer .footer-img-container img {
    width: 130px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.footer .social-link-items {
    margin-top: 30px;
    text-align: center;
}

.footer .social-link-items .social-link-item {
    display: inline;
    margin: 0 15px;
}

.footer .social-link-items .social-link-item a i{
    font-size: 18px;
}

.footer .footer-text-container {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.footer .footer-text-container > * {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}

.footer .footer-text {
    color: #fff;
    font-size: 10px;
}

.footer .footer-text-container .footer-vert-line {
    height: 18px;
    width: 1px;
    background-color: #fff;
    position: relative;
    top: 4px;
}








@media screen and (max-width: 900px) {
    .container {
        max-width: 750px;
    }

    .primary-heading {
        font-size: 40px;
    }

    .secondary-heading {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .tertiary-heading {
        font-size: 15px;
        line-height: 1;
    }

    .paragraph {
        font-size: 14px;
    }

    .paragraph-small {
        font-size: 11px;
    }

    .button-secondary {
        padding: 4px 10px;
        border: 1.5px solid #000;
    }
    .button-secondary a {
        font-size: 10px;
    }

    .nav .nav-logo img {
        width: 100%;
    }

    .nav .nav-items {
        display: none;
    }

    .nav .nav-burger {
        display: block;
        position: relative;
    }
    .header {
        background-position: center center;
    }

    .introduction {
        padding: 35px 10px;
    }

    .introduction .introduction-heading > *{
        display: block;
    }

    .introduction .introduction-heading img {
        width: 60px;
        margin-bottom: 15px;
        display: block;
    }

    .social-banner {
        padding: 20px 0px;
    }

    .social-banner .social-links-wrapper .social-link {
        width: 70px;
        height: 70px;
    }

    .social-banner .social-links-wrapper .social-link i {
        font-size: 25px;
    }

    .projects {
        padding: 30px 10px;
    }

    .projects-content-container {
        margin-top: 0;
    }

    .projects-main-content {
        padding: 15px;
        border-radius: 7px;
    }
    .projects-content-heading {
        grid-template-columns: 9fr 3fr;
    }

    .projects-left-controller,
    .projects-right-controller {
        width: 50px;
        height: 50px;
    }

    .projects-left-controller i,
    .projects-right-controller i {
        font-size: 20px;
    }

    .projects-heading-right .projects-index {
        font-size: 14px;
        margin-top: 3px;
        font-weight: 600;
    }

    .projects-controller,
    .blogs-controller {
        margin-top: 1px;
    }

    .projects-controller .projects-indicator-container .projects-indicator,
    .blogs-controller .blogs-indicator-container .blogs-indicator {
        border: 1.3px solid #000;
        width: 12px;
        height: 12px;
        margin: 0 3px;
    }

    .blogs {
        background-color: rgba(0,0,0,0.03);
        padding: 22px 10px;
    }

    .blogs-carousel-container {
        display: block;
    }

    .blogs-controller {
        display: grid;
    }

    .blogs-panels {
        display: block !important;
    }

    .blogs .blogs-carousel {
        padding: 10px 0 15px 0;
    }

    .blogs .blogs-content-container {
        display: none;
    }

    .blogs-panels {
        width: 93%;
        margin: 0 auto;
    }

    .big-project {
        padding: 35px 10px;
        background-color: #fff; 
    }

    .big-project .big-project-subtitle {
        font-size: 25px;
    }

    .big-project .big-project-title {
        font-size: 40px;
    }

    .big-project .bp-container {
        display: block;
        padding-top: 30px;
    }

    .big-project .bp-container .bp-image-container {
        display: none;
    }

    .big-project .bp-container .bp-content-container img {
        display: block;
        float: left;
        width: 30%;
        padding: 0 30px 10px 0;
    }

    .big-project .bp-container .bp-content-container .bp-small-subtitle {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .big-project .bp-container .bp-content-container .primary-button {
        margin: 0 auto;
        display: block;
    }

    .contact {
        padding: 30px 10px;
    }

    .contact .contact-container {
        display: block;
        border-radius: 0;
        box-shadow: none;
        overflow: visible;
    }

    .contact .contact-container .contact-container-left {
        display: none;
    }

    .contact .contact-container .contact-container-right {
        padding: 0;
    }

    .info-banner {
        display: block;
        background-image: url("../images/background-1.png");
        background-size: cover;
        background-attachment: fixed;
        padding: 25px 10px;
        background-position: left top;
    }

    .info-banner .info-banner-heading {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
    }

    .info-banner .info-banner-heading:not(:first-child) {
        margin-top: 30px;
    }

    .info-banner .info-banner-para {
        font-size: 12px;
        line-height: 1.2;
        color: #fff;
        text-align: center;
    }

    .info-banner .social-link-items {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .info-banner .social-link-items .social-link-item {
        display: inline;
    }

    .footer {
        padding: 50px 10px 30px 10px;
        background-position: center;
    }

    .footer .footer-img-container img {
        width: 130px;
    }

    .footer .social-link-items .social-link-item a i {
        font-size: 22px;
    }

    .footer .footer-text-container {
        margin-top: 50px;
    }

    .footer .footer-text-container > * {
        display: block;
    }

    .footer .footer-vert-line {
        display: none;
    }

    /* Responsive styles for Utility classes */
    .u-margin-top-small { margin-top: 2px !important }
    .u-margin-top-medium { margin-top: 5px !important }
    .u-margin-top-large { margin-top: 8px !important }
    .u-margin-top-extra-large { margin-top: 13px !important }

    .u-margin-bottom-small { margin-bottom: 2px !important }
    .u-margin-bottom-medium { margin-bottom: 5px !important }
    .u-margin-bottom-large { margin-bottom: 8px !important }
    .u-margin-bottom-extra-large { margin-bottom: 13px !important }
}









@media screen and (max-width: 600px) {
    .nav {
        grid-template-columns: 3fr 9fr;
    }

    .nav .nav-logo img {
        width: 80%;
    }
    .header .header-content .header-profile-image {
        width: 30%;
    }

    .primary-heading {
        font-size: 30px;
    }

    .paragraph {
        font-size: 12px;
    }

    .header .header-content .paragraph {
        width: 100%;
    }

    .sidebar .sidebar-content-box .sidebar-items .sidebar-item a {
        font-size: 20px;
        margin: 30px 0;
    }

    .introduction {
        padding: 25px 15px;
    }
    .introduction .introduction-heading img {
        width: 50px;
    }

    .projects-content-heading {
        display: block;
    }

    .projects-image {
        width: 90%;
    }

    .projects-heading-right {
        display: none;
    }

    .projects-left-controller,
    .projects-right-controller {
        width: 40px;
        height: 40px;
    }

    .projects-left-controller i,
    .projects-right-controller i {
        font-size: 15px;
    }

    .blogs-panels .left-blogs-desc {
        font-size: 13px;
    }

    .big-project {
        padding: 30px 10px;
    }

    .big-project .big-project-subtitle {
        font-size: 18px;
    }

    .big-project .big-project-title {
        font-size: 28px;
        left: -1px;
    }

    .big-project .bp-container .bp-content-container img {
        padding: 0 15px 5px 0;
        width: 35%;
    }

    .big-project .bp-container .bp-content-container .bp-small-subtitle {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .form .form-group-halves {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}




@media screen and (max-width: 450px) {
    .primary-heading {
        font-size: 25px;
        letter-spacing: 0px;
    }

        
    .secondary-heading {
        font-size: 25px;
        font-weight: 700;
    }

    .tertiary-heading {
        font-size: 13px;
        margin-bottom: 4px;
    }

    .nav .nav-logo img {
        width: 110%;
    }

    .header .header-content .header-profile-image {
        width: 45%;
    }

    .social-banner .social-links-wrapper {
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .social-banner .social-links-wrapper .social-link {
        width: 90%;
        border-radius: 0;
    }

    .social-banner .social-links-wrapper .social-link i {
        font-size: 25px;
    }

    .projects-main-content {
        padding: 10px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.14);
        width: 96%;
    }

    .projects-left-controller,
    .projects-right-controller {
        display: none;
    }

    .blogs-panels {
        width: 96%;
    }

    .blogs-panels .left-blogs-desc {
        font-size: 12px;
        line-height: 1.1;
    }

    .big-project .bp-container {
        padding-top: 25px;
    }

    .info-banner .info-banner-heading:not(:first-child) {
        margin-top: 18px;
    }

    .info-banner .info-banner-heading {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .footer {
        padding: 45px 10px 30px 10px;
    }

    .footer .footer-text-container {
        margin-top: 40px;
    }

    .footer .footer-img-container img {
        width: 110px;
    }
}